@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --ebardha: #f1e8e3;
  /* Define your custom color */
  --ezeza: #010216;
  --ekalterta: #3360f1;
  --everdha: #fcff74;

  /* ngjyrat e logos */
  --logoQelt: #05B0DA;
  --logoMshelt: #073D6C;
  --logoMesme: #038BBB;
  --logoTjeter: #048BBB;
}

.zi-text {
  color: var(--ezeza);
  /* Use the custom color */
}

.zi-bg {
  background-color: var(--ezeza);
  /* Use the custom color as background */
}

.bardh-text {
  color: var(--ebardha);
  /* Use the custom color */
}

.bardh-bg {
  background-color: var(--ebardha);
  /* Use the custom color as background */
}

.kaltert-text {
  color: var(--ekalterta);
  /* Use the custom color */
}

.kaltert-bg {
  background-color: var(--ekalterta);
  /* Use the custom color as background */
}

.verdhe-text {
  color: var(--everdha);
  /* Use the custom color */
}

.verdhe-bg {
  background-color: var(--everdha);
  /* Use the custom color as background */
}


.border-bottom-gray {
  border-bottom: 1px solid rgb(68, 68, 68);
}

.border-top-gray {
  border-top: 1px solid rgb(68, 68, 68);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--ebardha);
  font-family: 'Arial', sans-serif;
  font-family: "Kanit", 'Arial', sans-serif !important;
  font-weight: 300;
  font-style: normal;
}

.content {
  flex: 1;
}

.footer {
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* Horizontally center the logo */
  height: 60px;
  /* Ensure the container fills the height of the navbar */
}

.footer-links {
  font-size: small;
}

.contact-info {
  font-size: smaller;
  color: #cccccc;
}


.navbar {
  display: flex;
  align-items: center;
  /* box-shadow: 0px 5px 0px #dedede; */
  z-index: 11;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav:first-child {
  margin-right: auto;
}

.navbar-nav:last-child {
  margin-left: auto;
}

.nav-items:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-size: larger;
}

.nav-translate {
  font-size: larger;
  color: #aaa;
  margin-right: 15px;
}

.nav-link>img {
  height: 100px;
}

.navbar-toggler {
  border-color: rgba(211, 0, 0, 0.7);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:not(.logo-link):hover {
  z-index: 1;
}

nav.fill ul li a:not(.logo-link, .active-navbar-link):hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 1px;
    background: var(--logoQelt);
  }
}

.about-us-img {
  width: 50%;
  margin-left: 25%;
}

@media (min-width: 992px) {
  .nav-items:not(:last-child) {
    margin-right: 50px;
  }

  .nav-link {
    font-size: larger;
  }

  .nav-translate {
    font-size: larger;
  }
}

@media (max-width: 992px) {
  .nav-items:not(:last-child) {
    margin-right: 20px;
  }

  .nav-link {
    font-size: medium;
  }

  .nav-translate {
    font-size: medium;
  }

  .about-us-img {
    width: 75%;
    margin-left: 12.5%;
  }
}

@media (max-width: 768px) {
  .navbar .logo-container {
    position: static;
    height: 11px;
  }

  .nav-items:not(:last-child) {
    margin-right: 10px;
  }

  .nav-link {
    font-size: small;
  }

  .nav-translate {
    font-size: small;
  }

  .about-us-img {
    margin-left: 0%;
    width: 100%;
  }
}

.container {
  transform-style: preserve-3d;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}



.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container .box:hover .body {
  /* transform: rotateY(180deg); */
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background: var(--ezeza);
  transform: translateZ(100px);
}

.container .box .body .content div h3 {
  letter-spacing: 1px;
}

/* If the background of your navbar is light, you can use black as above (stroke='%23000'). 
   If the background is dark, use white or a lighter color (stroke='%23FFF'). */

.margin0auto {
  margin: 0 auto;
}

#startingInfo {
  margin: 0;
  padding: 0;
  /* margin-left: 10px; */
  /* min-height: 60vh; */

  flex: 1;
}


.television {
  margin-left: 10px;
  flex-grow: 1;
  min-height: 60vh;
  background-color: var(--ebardha);
  overflow: scroll;
  border: 1px solid #dddddd;
  z-index: 80;
  /* transition: 3s; */
}

.containerFlex {
  margin: 15px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.dispayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.sherbime-sidebar-links {
  text-align: left;
  align-items: left !important;
  text-transform: uppercase;
}

.sherbimeSideBarHidden {
  position: fixed;
  width: 20%;
  left: -20%;
}

.sherbimeSideBarShown {
  position: fixed;
  width: 20%;
  left: 0;
}

.showSideBarBtn {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: -2.5rem;
}


#sherbimeSideBar {
  overflow: scroll;
  height: 100%;
}

#sherbimeContainer {
  width: 22%;
  max-width: 18rem;
  min-width: 15rem;
  ;
}

#showSideBarBtn {
  display: none;
  transition: 0.3s;
}

#showSideBarBtn:hover {
  color: var(--ezeza);
}

.rotate180 {
  transform: rotate(-180deg);
}

.moveRight {
  left: 0;
}

.moveLeft {
  left: -16rem;
}

iframe {
  background-color: white;
}

.sherbim-container {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}

.text-sherbim {
  margin: 20px;
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.only-text {
  width: 100%;
  align-self: center;
}

.foto-sherbim {
  width: 50%;
  align-self: center;
}

.title-sherbim {
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

#sherbimeContainer {
  border: 1px solid #cccccc;
  z-index: 100;
}

/* Customize the vertical scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
  /* Height of the scrollbar */
}

/* Customize the vertical scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the thumb */
  border-radius: 10px;
  /* Rounded corners */
}

/* Customize the vertical scrollbar track */
::-webkit-scrollbar-track {
  background-color: white;
  /* Color of the track */
}

/* Customize the corner where vertical and horizontal scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: transparent;
  /* Color of the corner */
}

/* Optionally, you can customize the horizontal scrollbar */
/* This example makes it thinner and less visible */
::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
  /* Make it transparent */
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
  /* Make it transparent */
}

@media (max-width: 768px) {
  .text-sherbim {
    margin: 15px;
    width: fit-content;
    text-align: justify;
    order: 2;
  }

  .foto-sherbim {
    order: 1;
    width: 100%;
  }

  .sherbim-container {
    flex-direction: column;
  }

  #sherbimeContainer {
    position: fixed;
    top: 0;
    height: 100vh;
    max-height: fit-content;
    width: 16rem;
    transition: 0.5s;
    border-right: 1px solid #666666;
  }

  #showSideBarBtn {
    display: block;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: -2.5rem;
    overflow: visible;
  }

  .television {
    margin: 0px 0px 0px 0px;
    height: 80vh;
    min-height: 30rem;
    width: 100%;
  }

  .sherbime-sidebar-links {
    font-size: 0.8rem;
  }

  .sherbime-sidebar-title {
    font-size: 1.1rem !important;
  }
}

.loan-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-top: 30px;
}

h2 {
  color: #0056b3;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.btn-primary {
  background-color: #0056b3;
  border-color: #004a99;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #004a99;
}

#results {
  background-color: inherit;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: 1s;
}

@media (max-width: 768px) {
  .order-md-1 {
    margin-top: 50px;
    order: 2;
  }

  .order-md-2 {
    order: 1;
    margin-top: 20px;
  }

  .text-page {
    margin: 10px 25px !important;
    padding: 5px 15px !important;
  }
}

.list-group-item {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background: var(--ezeza);
  transform: translateZ(100px);
}

.container .box .body .content div h3 {
  letter-spacing: 1px;
}

#main-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 2s linear forwards;
}

.c-part {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -100px;
  margin-left: -100px;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fly-off-1 {
  to {
    transform: translate(-200vw, 0);
  }

  /* Left direction off-screen */
}

@keyframes fly-off-2 {
  to {
    transform: translate(100vw, -200vh);
  }

  /* Up direction off-screen */
}

@keyframes fly-off-3 {
  to {
    transform: translate(200vw, 200vh);
  }

  /* Right and down off-screen */
}

@keyframes fadeInContent {
  to {
    opacity: 1;
  }
}


body {
  margin: 0;
  background-color: rgb(248, 248, 248) !important;
}

#main-content {
  min-height: 100vh;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: var(--logoMesme);
}

.text-page {
  margin: 20px 50px;
  padding: 10px 30px;
  flex-grow: 1;
  min-height: 60vh;
  background-color: rgb(248, 248, 248);
}

.text-page-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-page-text p {
  margin-top: 20px;
  margin-bottom: 20px;
}


.side-list-group-item {
  transition: background-color 0.3s ease;
}

#index-start {
  position: relative;
  background-color: white;
  width: 100%;
  height: 90vh;
  max-height: 800px;
  z-index: 1;
}

#index-image-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/indexPhoto1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 140% bottom;
  transition: background-image 0.5s ease-in-out;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#index-start-text {
  position: absolute;
  padding-left: 6rem;
  padding-top: 2rem;
  z-index: 10000;

}

#index-start-title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  /* width: 60%; */
  color: var(--logoQelt);
  z-index: 10;

}

#index-start-title span {
  display: block;
}

#index-start-paragraph {
  margin-top: 15px;
  width: 40%;
  color: var(--logoMshelt);
}

.index-start-button {
  margin-top: 20px;
  padding: 10px 30px;
}

#index-photo-mobile-container {
  background-color: white;
}

#index-photo-mobile {
  /* display: none; */
  /* background-color: white; */
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

#index-photo-mobile-container {
  display: none;
}




.feature {
  background-color: var(--logoMshelt); /* Bootstrap primary color, adjust as needed */
  color: white;
  padding: 100px 0;
}

.icon-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Bootstrap secondary color, adjust as needed */
  margin: 0 auto 20px;
}

.feature-text {
  text-align: center;
}

.description {
  margin: 0;
  line-height: 1.6; /* Adjust line height for better readability */
}

/* Hide <br> tags on small screens */
.description br {
  display: none;
}

/* Show <br> tags on screens larger than 576px */
@media (min-width: 576px) {
  .description br {
    display: inline;
  }
}


@media (max-width: 1106px) {
  #index-start-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  #index-start-title {
    font-size: 3rem;
  }

  #index-start-paragraph {
    font-size: 0.8rem;
  }

  .index-start-button {
    font-size: 0.8rem;
  }

  #index-start {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  #index-start {
    max-height: 430px;
  }

  #index-image-div {
    background-position: 150% bottom;
  }
}

@media (max-width: 660px) {
  #index-start-title {
    font-size: 2.6rem;

  }
  #index-image-div {
    display: none;
  }
  #index-photo-mobile-container {
    display: block;
  }
  #index-start-paragraph {
    width: 70%;
  }
  #index-start-title span {
    display: inline;
  }
  #index-start-text {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #index-start {
    height: fit-content;
    padding-bottom: 2rem;
  }

  #index-start-text {
    position: relative;
  }
}

@media (max-width: 410px) {
  #index-start-title {
    font-size: 2.4rem;

  }
  #index-image-div {
    display: none;
  }
  #index-start-paragraph {
    width: 90%;
  }
  #index-start-title span {
    display: inline;
  }
  #index-start-text {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1460px) {
  #index-start-title {
    font-size: 4.5rem;
  }

  #index-start-paragraph {
    font-size: 1.2rem;
  }

  .index-start-button {
    font-size: 1.2rem;
  }
}








/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////COLORS OF THE PAGE//////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */


/* ////////////////ALL PAGES/////////////// */
/* ////////////////BODY////////////// */
/* animation background */
body {
  background-color: rgba(255, 255, 255, 0.934) !important;
}

/* ////////////////NAVBAR//////////////// */
/* navbar bg*/
.navbar {
  /* background-color: yellow !important; */
}

/* navbar links color */
.navbar-links {
  color: var(--logoMshelt) !important;
  /* background-color: #ccc */
}

.navbar-links:hover {
  color: var(--logoMesme) !important;
  transition: 0s;
}

.navbar-links:hover::after {
  transition: 0s;
}

/* active navbar link color */
.active-navbar-link {
  color: var(--logoMesme) !important;
  border-bottom: 1px solid var(--logoMesme);
  /* width: 100%;
  height: 1px;
  background: var(--logoQelt); */
}

/* ////////////FOOTER//////////// */
/* Footer bg and link colors */
.footer,
.footer ul,
.footer ul li a {
  /* background-color: var(--logoMshelt); */
  /* color: white; */
}

/* footer contact info color */
.footer p {
  /* color: white; */
}

/* footer border color */
.border-top-gray {
  /* border-color: rgb(25, 3, 7); */
}

/* footer links hover colors */
.footer ul li a:hover {
  color: var(--logoMesme) !important;
}

/* /////////////////////INDEX///////////////// */
/* /////////////////////INDEX CONTENT//////////////// */
/* index background */
#main-content {
  background-color: var(--logoMesme);
}

/* ////////////////CALCULATOR/////////////// */
/* calculator bg */
.calculator {
  /* background-color: yellow; */
  color: var(--logoMshelt) !important;
  margin-bottom: 3rem;
}

/* calculator label colors */
.form-control>label {
  /* background-color: black; */
  /* color: var(--ebardha) !important; */
}

/* input placeholder color */
.form-control::placeholder {
  /* color: red; */
}

/* input placeholder when focused */
.form-control:focus::placeholder {
  /* color: yellow; */
}

/* input colors when focused */
.form-control:focus {
  /* color: white; */
  /* background-color: blue; */
}

/* calculator button colors and hover */
.calculator-button {
  background-color: var(--logoQelt);
  /* color: yellow; */
  border-color: var(--logoQelt);
}

.calculator-button:hover {
  background-color: var(--logoMshelt);
  /* color: red; */
  border-color: var(--logoMshelt);
}

/* Loan Summary Title color  */
#scroll-here>h2:first-of-type {
  color: var(--logoQelt);
}

/* Results dynamic color around the results
change the javascript as well
add bg-light class again to it if you dont want to change it */
#results {
  /* background-color: yellow; */
}

/* Calculator results colors */
.calculator-results li {
  /* background-color: yellow; */
  color: var(--logoMshelt);
}

/* /////////////SHERBIMET//////////////// */
/* /////////////SIDEBAR//////////////// */
/* Side bar title colors */
#sherbimeSideBar>a {
  /* background-color: yellow; */
  color: var(--logoMshelt) !important;
}

/* sidebar bg color, only in telephone mode */
#sherbimeSideBar {
  /* background-color: orangered !important; */
}

/* Sidebar border */
#sherbimeContainer,
#sherbimet a,
#sherbimet,
.scrollarea,
#sherbimeSideBar>a {
  /* border-color: rgb(103, 21, 21) !important; */
  /* border-bottom-color: rgb(103, 21, 21) !important; */
}

/* Sidebar links colors and hover and clicked colors 
NOTE: better to make color of hover same with color of clicked*/
#sherbimet a {
  /* background-color: #fff; */
  color: var(--logoMshelt);
}

#sherbimet a:hover {
  background-color: var(--logoMesme);
}

.side-list-group-item:hover .sherbime-sidebar-links {
  color: #ffffff;
}

.clicked {
  background-color: var(--logoMesme) !important;
  color: #fff !important;
}

/* ////////////////////IFRAME/////////////// */
/* iframe bg color
only visible a little while loading */
#television {
  /* background-color: yellow; */
}

/* iframe border color */
#television {
  /* border-color: rgb(188, 33, 95); */
}

/* ////////////////////SHERBIM INDIVID AND SHERBIM INFO///////////////// */
/* sherbim body bg */
.body-sherbimet {
  /* background-color: #fefefe !important; */
}

/* sherbim title color */
.title-sherbim {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--logoMesme) !important;
}

/* sherbim container of text and border */
.body-sherbimet>div {
  /* background-color: rgb(131, 131, 67) !important; */
  /* border-color: var(--logoMshelt) !important; */
}

/* sherbim text color */
.body-sherbimet>div>div p,
.body-sherbimet>div>div li {
  color: var(--logoMshelt) !important;
}

/* sherbim title border bottom color */
.border-sherbim-title {
  border-color: var(--logoMshelt) !important;
}

/* //////////////////RRETH NESH//////////////*/
/* title color and border color */
.text-page {
  /* background-color: orange; */
  /* border-color: rgb(128, 4, 4) !important; */
}

/* border of title */
.text-page>p {
  width: 70%;
  font-weight: 500;
  border-color: var(--logoMshelt) !important;
}

/* text color */
.text-page-text {
  margin: 0 auto;
  width: 80%;
  color: var(--logoMshelt);
}

/* //////////////////CLIENTS//////////////*/
/* background of the rotated box */
.clients-div>.box>.body>.content {
  background-color: var(--logoMshelt);
}

/* background of rotated content */
.clients-div>.box>.body>.content>div {
  background-color: #fff;
}

/* color of content */
.clients-div>.box>.body>.content>div>p {
  color: var(--logoMshelt) !important;
}