:root {
  --ebardha: #f1e8e3; /* Define your custom color */
  --ezeza: #010216;
  --ekalterta: #3360f1;
  --everdha: #fcff74;
}

.zi-text {
  color: var(--ezeza); /* Use the custom color */
}

.zi-bg {
  background-color: var(--ezeza); /* Use the custom color as background */
}

.bardh-text {
  color: var(--ebardha); /* Use the custom color */
}

.bardh-bg {
  background-color: var(--ebardha); /* Use the custom color as background */
}

.kaltert-text {
  color: var(--ekalterta); /* Use the custom color */
}

.kaltert-bg {
  background-color: var(--ekalterta); /* Use the custom color as background */
}

.verdhe-text {
  color: var(--everdha); /* Use the custom color */
}

.verdhe-bg {
  background-color: var(--everdha); /* Use the custom color as background */
}


.border-bottom-gray {
  border-bottom: 1px solid rgb(68, 68, 68);
}

.border-top-gray {
  border-top: 1px solid rgb(68, 68, 68);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--ebardha);
}

.content {
  flex: 1;
}

.footer {
  width: 100%;
}

.navbar-brand {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-nav:first-child {
  margin-right: auto;
}

.navbar-nav:last-child {
  margin-left: auto;
}

.nav-items:not(:last-child) {
  margin-right: 50px;
}

.nav-link>img{
  height: 100px;
}

.navbar-toggler {
  border-color: rgba(211, 0, 0, 0.7);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


@media (min-width: 992px) {
  .nav-items:not(:last-child) {
    margin-right: 50px;
  }
  .nav-link{
    font-size: larger;
  }
}

@media (max-width: 992px) {
  .nav-items:not(:last-child) {
    margin-right: 20px;
  }
  .nav-link{
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .nav-items:not(:last-child) {
    margin-right: 10px;
  }
  .nav-link{
    font-size: small;
  }
}

.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: var(--ezeza);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}